<footer>
  <app-container>
  <div class="wrapp">
    <div class="left">
      <img src="assets/imagens/logo-com-tagline.png" alt="logo" class="logo-footer" />
      <p>
        Horário de atendimento: 08h - 20h (Segunda a Sábado)
      </p>
      <p>
        Desenvolvido por Fúlvia Vaz. Projeto fictício sem fins comerciais.
      </p>
    </div>
    <div class="right">
      <p>
        Acesse nossas redes:
      </p>
      <div class="social">
        <a href="#" target="_blank">
          <img src="assets\icones\twitter.png" alt="twitter" />
        </a>
        <a href="#" target="_blank">
          <img src="assets\icones\instagram.png" alt="instagram" />
        </a>
        <a href="#" target="_blank">
          <img src="assets\icones\whatsapp.png" alt="whattsapp" />
        </a>
      </div>
    </div>
    </div>
  </app-container>
</footer>>
